.li-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
}

.li-text:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
}

.li-active {
    background-color: #010129;
}

.head-under {
    height: 40vh;
    width: 100vw;
    background-color: #151541;
    padding-top: 4%;
}

.bottom-marg {
    margin-bottom: 0px;
    background-color: #24248f
}

.lib-text {
    margin-top: 0px;
    color: white;
    font-weight: bolder;
    font-size: 5em;
    margin-left: 10%;
}

.card-continer {
    width: 80vw;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    margin-left: 10vw;
    margin-top: -15vh;
    padding: 1%;
    overflow-y: scroll;
}

.card-continer-sign {
    width: 80vw;
    background-color: rgb(255, 255, 255);
    margin-left: 10vw;
    margin-top: -15vh;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #2c2929;
}

.card-content {
    height: 35vh;
    background-color: #fff;
    padding: 3%;
    margin: 10px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.book-head {
    font-weight: bold;
    font-size: 2em;
    margin-left: 3%;
    width: 100%;
}

.web-tittle {
    background-color: rgb(139, 132, 132);
    display: inline-block;
    margin-left: 3%;
    font-weight: bolder;
    padding: .60%;
}

.para-style {
    margin-left: 3%;
    font-weight: bold;
}

.buttonwidth {
    width: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    border-color: none;
    background-color:rgb(62, 72, 75);
    color: rgb(255, 255, 255);
}
.buttonwidth:hover {
    width: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom:4%;
    text-align: center;
    border-color: none;
    background-color:rgb(62, 72, 75);
    color: rgb(255, 255, 255);
}

.checkwidth {
    width: 50%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.logtext {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: #0e0e38;
}

.emphty {
    width: 25%;
    height: 25%;
    background-color: #24248f;
    margin-left: 35%;
}

.bookcontiner {
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -8%;
    border-radius: 15px;
    padding: 3%;
}

.lib-textbook {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 15%;
    margin-top: -2%;
}

.card-content-authers {
    height: auto;
    background-color: rgb(255, 253, 253);
    padding: 3%;
    margin-left: 15%;
    margin-top: -15%;
    margin-right: 15%;
    margin-bottom: 3%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.autherimage {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-content-auth {
    height: auto;
    background-color: rgb(255, 253, 253);
    padding: 3%;
    margin: 1%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.navbarcustom {
    background-color: rgb(62, 72, 75);
}

.bodydiv {
    height: 100vh;
}



.datadiv {
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:2%;
    border-radius:10px;
    padding:3%;
}

.nav-link-custom {
    font-size: 1.25em;
    font-weight: bold;
}

.card-content {
    height: auto;
    width: auto;
    border-radius: 8px;
    background-color: #fff;
    padding: 3%;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-head {
    font-weight: bold;
    font-size: 2em;
    margin-left: 3%;
    width: 100%;
}

.web-tittle {
    background-color: rgb(139, 132, 132);
    display: inline-block;
    margin-left: 3%;
    font-weight: bolder;
    padding: .60%;
}

.para-style {
    margin-left: 3%;
    font-weight: bold;
}

.content-tittle {
    font-size: 3em;
    color: beige;
    margin-left: 10%;
}

.underline {
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: black;
    height: 1%;
    width: 100%;
}

.signupcontiner {
    background-color: rgb(253, 253, 253);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -8%;
    border-radius: 15px;
    padding: 5%;
}