<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUP</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mystyle.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="bodydiv">
        <nav class="navbarcustom navbar navbar-expand-sm  navbar-dark navbarcustom">
            <div class=" li-text">
                <ul class="nav navbar-nav li-text">
                    <% for(var i=0;i<nav.length;i++){%>
                        <li>
                            <a href="<%=nav[i].link%>" class="li-text">
                                <%=nav[i].tittle%>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
        </nav>
        <div class="divUnderNav">
            <h1 class="content-tittle">
                <%=tittle%>
            </h1>
        </div>
        <div class="signupcontiner">
            <h2 class="logtext">Signup to continue....</h2><br>
            <form action="#" methoe="POST" onsubmit="return validate_user(this)">
                <div class="form-group">
                    <label for="name" class="formlab">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter firstname" name="name" required>
                </div>
                <div class="form-group">
                    <label for="lastname" class="formlab">password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" id="password" required>
                </div>

                <div class="form-group">
                    <label for="lastname" class="formlab">Confirm password:</label>
                    <input type="password" class="form-control" id="Cpassword" placeholder="Confirm password" name="Cpassword" onfocusout="pvalidate()" required>
                </div>
                <div class="form-group">
                    <label for="email" class="formlab">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" onfocusout="email_onfocus_out()" required>
                </div>
                <div class="form-group ">
                    <label for="example-date-input" class="col-2 col-form-label formlab">Date of birth :</label>
                    <div class="col-10">
                        <input class="form-control" type="date" name="dob" id="example-date-input" onfocusout="dob_onfocus_out()" required>
                    </div>
                    </br>
                    <div class="form-check-label">
                        <label for="gender" class="formlab">Gender:</label><br> &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="form-check-input" name="optionsRadios" id="male" value="male" checked><label class="formlab">&nbspmale</label>&nbsp&nbsp&nbsp&nbsp
                        <input type="radio" class="form-check-input" name="optionsRadios" id="female" value="female"><label class="formlab">&nbspfemale</label>

                    </div>
                    <div class="form-group">
                        <label for="phoneno" class="formlab">Phoneno:</label>
                        <input type="number" class="form-control" id="Pno" placeholder="Enter phoneno" name="phone " required>
                    </div>
                    <br>
                    <center>Accept terms and conditions &nbsp;&nbsp;<input type="checkbox" name="accept" required></center>
                    <br>
                    <button type="submit" name="submt" id="submit" class="btn btn-secondary btn-lg btn-block buttonwidth">Register user</button>
            </form>


            </div>
</body>

</html>